<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
	<directoryBrowse enabled="true" />
	  <security>
        <!-- requires URL Authorization IIS module + windows auth -->
		<authorization>
		  <clear />
		  <add accessType="Deny" users="?" />
		  <!-- <add accessType="Allow" users="DOMAIN\GROUP1,DOMAIN\GROUP2" /> -->
		  <add accessType="Allow" roles="DOMAIN\USER1,DOMAIN\USER2" />
		</authorization>
	  </security>
	</system.webServer>
</configuration>
